.hide {
    display: none;
}

html {
    scroll-behavior: smooth;
}

/* Base styles */
body {
    font-family: 'DM', sans-serif;
    color: white;
    background-color: #121212;
    font-size: 14px;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    padding: 0;
    font-family: inherit;
    color: currentColor;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Common styles */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
}

.section {
    padding-top: 75px;
    padding-bottom: 75px;
}



.container {
     
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;


}



/* header */

.header {
    position: absolute;
    width: 100%;
    z-index: 10;
}
.header-container{
    display: flex;   
    align-items: center;
    gap: 20px;
}

.container {}

.logo-nav {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: var(--black, #121212); 

    display: flex;
    align-items: center;
    padding: 0 50px;
    width: 100%;
    
}

.logo {
    margin-right: auto;
}

.header-logo-icon {}

.nav {
   
}

.nav-list {
        display: flex;
        align-items: center;
        gap: 28px;
}

.nav-list-item {
        padding-top: 21px;
        padding-bottom: 21px;             
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
}

.nav-list-item:hover,
.nav-list-item:focus {    
    color: #BEA69E;
}

.header-btn {
         color: #121212;        
        font-size: 18px;     
        font-weight: 700;
        line-height: 1.56;      
        text-transform: uppercase;
        display: flex;
        padding: 16px 16px;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        background: #FFF;

        width: calc(100% - 258px);
        max-width: 238px;
        transform: 300ms ease-out;
}

.header-btn:hover,
.header-btn:focus{
    background-color: #1D1D1D;
    color: #BEA69E;
}


/* hero */

.hero-section {
    padding-top: 160px;   
    padding-bottom: 150px;
    background-image: url(/images/Graphicgraphic.png);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.hero-container{
display: flex;
padding: 80px 50px 56px 50px;
border-radius: 30px;
background: #1D1D1D;
position: relative ;

}
.container {}

.hero-left {}

.hero-left-top {
    margin-bottom: 136px;
}

.title {
         
         font-size: 64px;      
        font-weight: 500;
        line-height: 1.06;        
        letter-spacing: -0.04em;

        width: 563px;
        margin-bottom: 20px;
}

.title-span {
        color: #BEA69E;        
        font-size: 64px;
        font-style: italic;
        font-weight: 400;
        line-height: 1.06;
        letter-spacing: -0.04em;
}

.hero-description {
                        
        font-weight: 400;
        line-height: 1.29;
        letter-spacing: -0.02em;

        width: 418px;
}

.hero-left-bottom {
    display: flex;
    align-items: center;
}

.hero-reviews-list {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.hero-reviews-list-item {
margin-right: -10px;
}

.hero-reviews-list-item-2{
margin-right: -10px;
}

.hero-reviews-list-item-3{

}

.left-bottom-p {
    margin-right: 40px;
}

.left-bottom-students {
         
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;        
        letter-spacing: -0.04;
        width: 82px;
       
}

.left-bottom-icon-arrow {
    fill: white;
    width: 18px;
    transition: 300ms ease-in;
}

.left-bottom-icon-arrow:hover,
.left-bottom-icon-arrow:focus{
    width: 25px;
    
}


.left-bottom-star {
    display: flex;
    align-items: center;
    gap: 12px;
}

.left-bottom-icon-star {
    background-color: #BEA69E;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 15px;
    stroke: black;
    fill: #BEA69E;
    
}

.left-bottom-reviews {
       color: rgba(255, 255, 255, 0.50);
        font-size: 16px;
         font-weight: 400;
        line-height: 1.25;
        letter-spacing: -0.04em;
}

.left-botom-span {
       
        font-size: 16px;
        font-weight: 500;
        line-height: 1.25;
         letter-spacing: -0.04em;
}

.hero-right-pic {
    position: absolute;
    top: 80px;
    right: 50px;
}


/* block */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.section-block{
padding-bottom: 75px;
}

.marquee {
    overflow: hidden;    
    font-weight: 400;
    font-size: 59px;
    line-height: 1.08;       
    letter-spacing: -0.02em;
    text-transform: uppercase;
    background-color: #121212;
}

.marquee-inner {
    display: flex;
}

.marquee-line {
    flex-shrink: 0;
    margin: 0;
    padding: 10px 15px;
    min-width: 100%;
    white-space: nowrap;
    animation-name: marqueeLine;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    color: #bea69e;
}

.deco-span {
    color: #ffffff;
}

@keyframes marqueeLine {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* 
about us */
.about-us {
    
   
}

.container {}

.title-about {
         
        font-size: 48px;
        font-weight: 500;
        line-height: 1.13;        
        letter-spacing: -0.04em;
        margin-bottom: 50px;
}

.span-about {
        color: #BEA69E;        
        font-size: 48px;        
        font-weight: 500;
        line-height: 1.13;
        letter-spacing: -0.04em;
}

.aboutus-pic-p{
display: flex;
justify-content: space-between;

}
.aboutus-img {
    
}

.aboutus-p1 {
    
   width: 268px;
   flex-shrink: 0;
}

.about-us-p2 {
    width: 264px;
    flex-shrink: 0;
}


/* our courses */
.our-courses{
    
}

.our-courses-top {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}


.our-courses-title {
    color: #BEA69E;
    font-family: DM Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;


}


.our-courses-title-unique {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
    padding-right: 6px;
}


.our-courses-description {
    max-width: 335px;    
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;

}


.our-courses-list {
     display: flex;
     gap: 20px;
}



.our-courses-list-item {
    padding: 96px 32px 32px 32px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(180deg, #060707 0%, #1D1D1D 100%);    
    position: relative;

}


.last-child {
 
}

.our-courses-list-item-number {
    color: rgba(255, 255, 255, 0.40);    
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;

    position: absolute;
    top: 32px;
    left: 32px;
}



.our-courses-item-link {
    position: absolute;
    top: 32px;
    right: 32px;

    width: 32px;
    height: 32px;

    background-color: #1D1D1D;
    border-radius: 50%;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.our-courses-item-link:hover,
.our-courses-item-link:focus {
    background-color: #BEA69E;
}

.our-courses-link-arrow {
    stroke: #777777;
    background-color: transparent;
    flex-shrink: 0;
}

.our-courses-link-arrow:hover,
.our-courses-link-arrow:focus {
    stroke: #FFFFFF;
}

.our-courses-item-title {
       
    font-size: 28px;   
    font-weight: 500;
    line-height: 1.14;


}

.our-courses-item-desc {
    color: rgba(255, 255, 255, 0.50);
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;

}


/* Our mentors */
.our-mentors {}

.section {}

.container {}

.mentors-title {
        margin-bottom: 50px;
    
        font-size: 48px;      
        font-weight: 500;
        line-height: 1.13;      
        letter-spacing: -0.04em;
}

.mentors-span{
        color: #BEA69E;      
        font-size: 48px;     
        font-weight: 500;
        line-height: 1.13;
        letter-spacing: -0.04em;
}

.mentors-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.mentors-list-item {
    width: calc((100% - 100px * 3) / 4);
   
}

.mentors-image {
    margin-bottom: 16px;
    display: block;    
    height: auto;
    margin-right: auto;
    margin-left: auto;
   

}

.mentors-box{}

.mentors-name {       
        margin-bottom: 4px;
        font-size: 28px;        
        font-weight: 500;
        line-height: 1.14;
       text-align: center;
      
}

.mentors-description {
       color: rgba(255, 255, 255, 0.50);
         
        font-weight: 400;
        line-height: 1.28;
        letter-spacing: -0.02em;
        text-align: center;
}

/* Sign up */
.sign-up {}

.conteiner-signup{
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

.section {}

.container {}

.signup-left {
    width: 480px;
}

.sign-title {
    
        font-size: 48px;       
        font-weight: 500;
        line-height: 1.13;
        letter-spacing: -0.04em;
        margin-bottom: 20px;
}

.sign-span {
        color: #BEA69E;
        font-size: 48px;        
        font-weight: 500;
        line-height: 1.13;
        letter-spacing: -0.04em;
}

.signup-desc {
    
        font-size: 16px;      
        font-weight: 400;
        line-height: 1.25;     
        letter-spacing: -0.02em;
         margin-bottom: 40px;
}

.form {}

.form-div {
    margin-bottom: 14px;
}

.form-label {}

.form-field {}

.form-input {
    color: black;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    width: 100%;
    padding: 20px 18px;
    background-color: transparent;
    outline: transparent;
    
}
.form-input:hover,
.form-input:focus {
    background-color: #fff;
}

.placeholder{
        font-size: 16px;        
        font-weight: 400;
        line-height: 1.25;
    
}

.comment {
   
}

.form-input-textarea {
    color: black;
    padding: 20px 18px;
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        width: 100%;
        background-color: transparent;
        outline: transparent;
        margin-bottom: 40px;
}

.form-input-textarea:hover,
.form-input-textarea:focus{
    background-color: #fff;
}

.submit-btn {
        display: inline-flex;
        padding: 16px 16px;
        justify-content: center;
        align-items: center;

        border-radius: 12px;
        background:  #FFF;

        color:  #121212;           
        s font-size: 18px;           
        font-weight: 700;
        line-height: 1.56;
         text-transform: uppercase;
         min-width: 480px;

         margin-bottom: 20px;
         transition: 300ms ease-out;
}

.submit-btn:hover,
.submit-btn:focus{
     background-color: #1D1D1D;
    color: #BEA69E;
}


.privacy-desc {
        color: rgba(255, 255, 255, 0.50);                      
        font-weight: 400;
        line-height: 1.28;
     
}

.privacy-link {
    color: rgba(255, 255, 255, 0.50);
        font-weight: 400;
        line-height: 1.28;
        text-decoration-line: underline;
}

.signup-righn {
    width: 540px;
}

.signup-list {
    display: flex;
    width: 540px;
    align-items: flex-end;
}

.signup-list-item1 {
        border-radius: 1000px;
        background: #BEA69E;
        width: 180px;
        height: 288px;
        flex-shrink: 0;
        margin-right: 20px;
        position: relative;
}

.signup-image1 {
       width: 100%;
       background-size: content;   
       position: absolute;
       top: 76px;
       right: 25px;
       background-color: transparent;
}
.signup-list-item2 {
        width: 340px;
        height: 540px;
        flex-shrink: 0;
        border-radius: 1000px;
        background: #1D1D1D;     
        padding: 156px 50px 88px 50px;
}

.signup-image2 {
    width: 100%;
        background-size: content;       
        background-color: transparent;
}

/* reviews */

.reviews {}

.section {}

.container {}

.reviews-title {
    
        font-size: 48px;       
        font-weight: 500;
        line-height: 1.13;        
        letter-spacing: -0.04em;

        margin-bottom: 50px;
}
.reviews-boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reviews-box {
    padding: 20px;
    position: relative;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    width: 530px;
}

.reviews-div-img {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.reviews-h-p{}

.review-image {
    margin-right: 10px;
}

.reviews-name {  
        font-size: 20px;        
        font-weight: 500;
        line-height: 1.4;
       
}

.reviews-position {
    color: rgba(255, 255, 255, 0.50);    
        font-weight: 400;
        line-height: 1.29;       
        letter-spacing: -0.02em;
}

.reviews-list {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
}

.reviews-list-item {}

.reviews-svg {
    fill:#BEA69E;
}

.reviews-svg.last-child{
fill: #414141;
}

.reviews-description {
    
        font-size: 16px;       
        font-weight: 400;
        line-height: 1.25;      
        letter-spacing: -0.02em;
}


/* footer */

.footer {
    background-image: url(/images/Graphicgraphic.png);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        padding-top: 50px;
}

.container {}

.footer-top {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
}

.footer-address {
    margin-right: 284px;
}

.footer-logo{
   
}

.header-logo-icon {}

.footer-icon{
    margin-bottom: 25px;
}

.address {}

.address-list {}

.adress-list-item {}

.address-item-phone {
  
        font-weight: 400;
        line-height: 1.28;      
        text-transform: uppercase;

        margin-bottom: 10px;
}

.address-item-address {
    
        font-weight: 400;
        line-height: 1.29;
    
}

.footer-socials {
margin-right: 50px;}

.footer-socials-list {}

.footer-socials-item {
   
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;

        margin-bottom: 20px;
}

.socials-link {}

.footer-nav {
margin-right: auto;}

.nav-footer {}

.footer-nav-list {}

.footer-nav-list-item {
          font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 20px;
}

.footer-form {
    display: flex;
    
}

.footer-form-div {}

.form-label {}

.footer-form-field {}

.footer-form-input {
    border-radius: 12px;
    background: #FFF;
    padding: 20px 20px 20px 18px;
    margin-right: 16px;

}

.footer-submit-btn {
         color: #FFF;    
        text-align: center;        
        font-size: 20px;      
        font-weight: 400;
        line-height: 1.2;

        border-radius: 12px;
        background: #1D1D1D;

        padding: 16px;
        min-width: 60px;
        transition: 300ms ease-in;
    
}

.footer-submit-btn:hover,
.footer-submit-btn:focus{
    background-color: #fff;
    color: black;
}

.footer-botom {
    display: flex;
    justify-content: space-between;
}

.footer-policy {}

.footer-policy-link {    
        font-weight: 400;
        line-height: 1.29;
    
}



.footer-sign {}

.footer-sign-p {
   
        font-weight: 400;
        line-height: 1.29;
    
}